<h2>Скільки одиниць товару ви бажаєте замовити?</h2>
<form asp-action="ProductQuantity" method="post">
    <input type="number" name="quantity" />
    <button type="submit">Підтвердити</button>
</form>
